extends layout/main

block content
    .ec-main-section
            .container
                .row
                    #player.col-lg-8
                        .ec-fancy-title
                            h2 #{streamTitle} | 
                                span#viewerCount
                        .ec-map
                            #playerElement(style='width:100%; height:0; padding:0 0 56.25% 0')
                    #chat.col-lg-4
                        .ec-fancy-title
                            h2 Discord Chat - 
                                a(href="https://discord.gg/qAtPmuj" style="color:#e11b1b" target="_blank") Join 
                            h2#close-chat.align-right
                                .fa.fa-times-circle
                        .ec-map
                            #chat-wrapper
                                #chat-window
                                    ul

                .row
                    .col-md-12
                        .ec-simple-title
                            h2 Become a Patreon Supporter!
                            p
                            | If you'd like to help keep the stream running, please visit my 
                            a(href="https://www.patreon.com/powerspike_net" style="color:#e11b1b" target="_blank") Patreon 
                            | and become a supporter! All the support allows me to put more time and money into the project to create a better experience for everyone.  If you don't want to join on Patreon, I take tips through 
                            a(href="#{donationLink}" style="color:#e11b1b" target="_blank") PayPal
                            | . Every little bit counts!
                .row
                    .col-md-6
                        .ec-fancy-title
                            h2 Patreon Supporters
                            a(href="https://www.patreon.com/powerspike_net" target="_blank")
                                .badge.badge-pill.badge-add + Become A Patreon
                        #patreonList.ec-map.supporter-list
                    .col-md-6
                        .ec-fancy-title
                            h2 Donation Goal
                            a(href="#{donationLink}" target="_blank")
                                .badge.badge-pill.badge-add + Donate
                        .ec-map.goal-progress
                            .progress
                                #goalProgress.progress-bar.progress-bar-striped.progress-bar-big(role='progressbar', style='width: 0%', aria-valuemin='0', aria-valuemax='100')
                                    span#goalTag $0
