extends layout/main

block content
    .ec-main-section
            .container
                .row
                    .col-md-12
                        .ec-fancy-title
                            h2
                                | Kansas City Chiefs vs Pittsburgh Steelers 
                                span#viewer-count
                        .ec-map
                            #playerElement(style='width:100%; height:0; padding:0 0 56.25% 0')
