extends layout/main

block content
    .ec-main-section
            .container
                .row
                    .col-md-12
                        .ec-fancy-title
                            h2 #{streamTitle} | 
                                span#viewerCount
                        .ec-map
                            #playerElement(style='width:100%; height:0; padding:0 0 56.25% 0')
                .row
                    .col-md-12
                        .ec-simple-title
                            h2 Become a Supporter!
                            p
                            | If you'd like to help keep the stream running, please visit my 
                            a(href="https://www.patreon.com/powerspike_net" style="color:#e11b1b") Patreon 
                            | and become a supporter! Below are our current supporters.
                            

                .row
                    .col-md-4
                        div
                            .ec-fancy-title
                                h2 Gold Supporters
                        div
                            div(class="bordered-box")
                                ul(class="names")
                                    li No Gold Supporters
                    .col-md-4
                        div
                            .ec-fancy-title
                                h2 Platinum Supports
                        div
                            div(class="bordered-box")
                                ul(class="names")
                                    li No Platinum Supporters
                    .col-md-4
                        div
                            .ec-fancy-title
                                h2 Diamond Supporters
                        div
                            div(class="bordered-box")
                                ul(class="names")
                                    li No Diamond Supporters
